Flask
flask-cors
gunicorn
python-dotenv

google-genai
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-chroma
langchain-text-splitters

chromadb

pypdf
python-docx

requests
httpx

numpy
pandas
tqdm
tenacity